@model IEnumerable<WebShopApp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

    <div>
        <p>
            <a class="btn btn-danger mb-5" asp-action="Create">Create New</a>
        </p>
    </div>
   
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-sm-12 col-md-6 col-lg-4 pb-5">
            <!-- Block2 -->
            <div class="block2" width="400px" height="500px">
                <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                    <img src="@item.ImageUrl" alt="IMG-PRODUCT"   width="300px" height="300px">

                    <div class="block2-overlay trans-0-4">
                        <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                        </a>

                        <div class="block2-btn-addcart w-size1 trans-0-4">
                            <!-- Button -->
                            <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>

                <div class="block2-txt p-t-20">
                    <a asp-action="Details" asp-controller="Products" asp-route-id="@item.ProductId" class="block2-name dis-block s-text3 p-b-5">
                        @item.Brands.Name<br />
                        @item.Name
                    </a>
                    <span class="block2-price m-text6 p-r-5">
                        @item.Price
                    </span>
                </div>
            </div>
        </div>
        }
    </div>
</div>